body{
    margin: 0%;
    padding: 0%;
    background-color: #FFF8E7;
   
}



header{
    /* background-color: #E53935;
    color: white;
    position: sticky;
     padding: 25px 50px;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    
    margin: 0%; */
    /* background-color: #F8F8F8; */
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  background-color: #fd8e7f;
  color: #6B4F4F;
  position: fixed;
  top: 0;
  position: sticky;
    
}

header h1 {
    font-size: 54px;
    font-family: poppins, sans-serif;
    margin: 0;
    color: #6B4F4F;
    text-align: center;
}

header nav{
    display: flex
    gap: 20px;
    padding: 10px 20px;
    align-items: center;

}
nav a {
    color: #6B4F4F;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bolder;
}

nav a:hover {
    text-decoration: underline;
    color:  #fff;
    font-size: 20px;
    border-radius: 4px;
    transition: 0.5s;
    transform: scaleX(3.5);
    padding: 7px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.tagline {
    font-size: 24px;
    color: #5D4037;
    
    margin: 20px 0;
}

.about{
    max-width: 40%;
    margin: 20px 0 auto;
    padding: 20px;
    text-align: center;
    /* margin: 50px 0px 20px 500px; */
    font-size: 25px;
    font-family: Merriweather, serif;
    padding: 20px;
   color: #fd8e7f;
    /*background-color: #FFF3E0; Light peach background */
    border-radius: 8px;
    /* background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1px); */
}







